/*
David Balladares
Front End Developer
Entire Project CSS Styles
*/


body{
  background-color: #355c7d;
  text-align: center;
  margin: 7;
  font-family: 'Manjari', sans-serif;


}

h1{
  background-color: white;
  color: #D33434;
  padding-top: 20px;
  border-color: azure;
  border-radius: 10px;
  border-style: inset;
  margin-left: 150px;
  margin-right: 150px;
}

.logInForm{
  color: white;
}

input{
  border-radius: 6px;
  text-align: center;
}

.loginTable{
  position: relative;
  margin-left:auto;
  margin-right:auto;
}

.logDiv{
  display: inline-block;
  padding: 60px 75px 60px;
}

.left{
  width: 60%;
  float: left;
  display: inline-table;
  padding-bottom: 8em;
}

.right{
  border-style: dashed;
  border-radius: 20px;
  width: 35%;
  float: left;
  padding-bottom: 5em;
  margin-left: 2%;

}

.leftStudent{
  width: 50%;
  float: left;
}

.rightStudent{
  width: 50%;
  float: left;
}

table{
  position: relative;
  margin-left:auto;
  margin-right:auto;
  border-style: inset;
  border-spacing: 1em;
  border-radius: 20px;
  color: white;
}


.user{
  display: inline-block;
  width: 75px;
  height: 75px;
  background: #03527B;
  border-radius: 50%;
  position: relative;
  border: 10px solid #03527B;
  overflow: hidden;
  box-sizing: border-box;
}
.user::before{
  content: '';
  display: inline-block;
  width: 25px;
  height: 25px;
  background: white;
  border-radius: 50%;
  position: absolute;
  left: calc(50% - 14px);
  top: 5px;
}
.user::after{
  content: '';
  display: inline-block;
  width: 50px;
  height: 50px;
  background: white;
  border-radius: 50%;
  position: absolute;
  left: calc(50% - 25px);
  top: 35px;
}

.user:hover{
  background-color: #355c7d;
  border-width: 5px;
  border-color: #355c7d;
}

.loginLogo{
  background-color: #355c7d;
  border-width: 5px;
  border-color: #355c7d;
}

.top{
  background: radial-gradient(black, transparent);
  border-style: hidden;
  border-radius: 20px;
}

.top h3{
  padding-top: 10px;
  color: white;
}

.fixed_header{
  background-color: black;
  color: white;
  border-width: 5px;
}

#us{
  color: white;
}
